*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapperclass{
  margin-left: 135px;
  margin-right: 135px;
}


body{
  /* line-height: 1.5rem; */
  font-family: Avalon, ‘Montserrat’, sans-serif;
  font-weight: 300;
  font-size: 14.9px;
  /* font-style: none; */
}

/* 1st Section */

nav{
  display: flex;
  width:auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

ul{
  display: flex;
  list-style: none;
}

ul li{
  padding: 1rem;
}

.navbar-right img{
    width: 130px;
    height: 25px;
}


.navbar-left{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button1{
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  border-color: white;
}

.button2{
  width:110px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
}


/* 2nd Section */
/* background-iamge styling */

.landing-page-container {
  /* background-image: url("E:\Digital Project\Meero Clone\backgroung_image_1.jpg"); */
  background-image: url('E:/Digital Project/Meero Clone/img/bg5.jpeg');
  width: 100%;
  height: 60rem;
  background-repeat: no-repeat;
  object-fit: cover;
}

.landing-page-container{
  /* margin-bottom: 30rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page-right{
  /* display: flex; */
  /* margin-top: 10px; */
  /* margin-bottom: 5px; */
  color: white;
  /* padding: 5rem; */
}
.landing-page-right h1{
  margin-bottom: 2rem;
  font-size: 50px;
  font-style: none;

}
.landing-page-right p{
  margin-top: 3rem;
  margin-bottom: 10px;
  font-size: 28px;
}
.landing-page-buttons{

  margin-top: 3rem;

}
.landing-page-button1{
  font-size: 19px;
  color: white;
  height: 48px;
  width: 17rem;
  border-radius: 30px;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
  margin-right: 20px;
}
.landing-page-button2{
  font-size: 19px;
  color: white;
  height: 48px;
  width: 17rem;
  border-radius: 30px;
  border-color: white;
  /* border-bottom: white; */
  background-color: inherit;
}

.landing-page-left img{
  margin-right: 10rem;
  height: 6rem;
  width: 6rem;
}

/* 3rd Section */

.talent-container{
  display: flex;
  /* gap:30px; */
  align-items: center;
  justify-content: center;
}

.talent-text h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.talent-text h3{
  margin-top: 0;
  text-align: center;
  font-weight: 400;
}

.span1{
  color: #00a295;
}
.span2{
  color:#dd5f5c
}
.span3{
  color: #ffb126;
}

.button-class{
  display: flex;
  align-items: center;
  justify-content:center;
}

.find-button{
  margin: 3rem auto;
  font-size: 19px;
  color: white;
  height: 45px;
  width: 12rem;
  border-radius: 20px;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
}

.cards{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90rem;
  height: 35rem;
  gap:10rem;
}

.cards img{
  margin-bottom: 3rem;
}
.card-txt-container{
  margin-top: 1.5rem;

}
.card1{
  /* display: flex; */
  width: 30rem;
  height: 35rem;
  text-align: center;
  font-size: 17px;
}

.card2{
  width: 30rem;
  height: 35rem;
  text-align: center;
  font-size: 17px;

}
.card3{
  width: 30rem;
  height: 35rem;
  text-align: center;
  font-size: 17px;
}
.heading{
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 550;
}

/* 4th Section */
.span-m3{
  color: #ffea9c;
}
.Magic{
  display: inline-block;
  background-color: #ffab9d;
  height: 43rem;
  width: 100%;
}

.Magic h3{
  margin: 4rem auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Avalon, ‘Montserrat’, sans-serif;
}

.m-cards{
  display: flex;
  margin: 4rem 5rem;
  justify-content: space-between;
  align-items: center;
}
.m-cards img{
  border-radius: 10px;
  width: 23rem;
  height: 22rem;
}

/* .buttons-magic{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 60px;
  radius:50%
} */

.m-card1{
  display: flex;
  width: 20rem;
  height: 20rem;
}

.m-card2{
  display: flex;
  width: 20rem;
  height: 20rem;
}

.m-card3{
  display: flex;
  width: 20rem;
  height: 20rem;
}

.m-card4{
  display: flex;
  width: 20rem;
  height: 20rem;
}

/* 5th section */
.visual-container h2{
  font-size: 35px;
  margin: 3rem auto;
  /* margin-top: 40px; */

}
.visual-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual-container h2{
  font-size: 40px;
  font-weight: 700;


}
.visual-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:auto 30%;
  font-weight: 700;
  font-size: 15px;
}
.visual-element{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:auto;

}
.visual-img img{
  width: 65rem;
}
.visual-content{
  text-align: center;
}
.vs-btn1{
  margin: 2rem 0.6rem;
  font-size: 19px;
  color: white;
  height: 45px;
  width: 10rem;
  border-radius: 7rem;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
}

.vs-btn2{
  margin: 2rem 0.6rem;
  font-size: 19px;
  color: white;
  height: 45px;
  width: 10rem;
  border-radius: 7rem;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
}
/* 6th Section */










/* 8th Section */
.update-container{
  display: inline-block;
  width: 100%;
  background-color: #80d1ca;
  text-align: center;
}
.update-container h2{
  margin-top: 2rem;
  font-size: 2.5rem;
}
.update-container h3{
  font-size: 1.5rem;
}
.span-white{
  color: white;
}
.span-clr2{
  color: #393762;
}
.pi-buttons{

}
.btn1{
  margin-right: 2rem;
}
.button-pb{
  margin: 2rem 0.6rem;
  font-size: 19px;
  color: white;
  height: 45px;
  width: 10rem;
  border-radius: 7rem;
  border: none;
  background-color: #00a295;
  border-color: #00a295;
}
